<h2>Estudantes</h2>
<ul class="alunos">
  <li *ngFor="let aluno of alunos">
    <button [class.selected]="aluno === selectedAluno" type="button" (click)="onSelect(aluno)">
      <span class="badge">{{aluno.id}}</span>
      <span class="name">{{aluno.name}}</span>
    </button>
  </li>
</ul>

<div *ngIf="selectedAluno">
  <h2>{{selectedAluno.name | uppercase}} Details</h2>
  <div>id: {{selectedAluno.id}}</div>
  <div>
    <label for="aluno-name">Estudante: </label>
    <input id="aluno-name" [(ngModel)]="selectedAluno.name" placeholder="name">
  </div>
</div>